In [2]:
import pandas as pd

**Question no 1:**

In [2]:

data = [1, 4, 9, 6, 7]
index = ['a', 'x', 'c', '2', 'e']

series = pd.Series(data, index=index)
print(series)

a    1
x    4
c    9
2    6
e    7
dtype: int64

**Question no 2:**

In [3]:
data = {'Bilal': 42, 'Ayesha': 38, 'Hadia': 39}

series = pd.Series(data)
print(series)

Bilal     42
Ayesha    38
Hadia     39
dtype: int64

**Question no 3:**
Write pandas dataframe code to get following output using python dictionary

In [4]:
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame(data)
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

**Question no 4:**
In extension to above question, you are required to replace index by ['a','b','c','d','e','f']

In [5]:
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

index = ['a', 'b', 'c', 'd', 'e', 'f']

df = pd.DataFrame(data, index=index)
print(df)

        day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

**Question no 5:**
 In extension to above Q.3, calculate mean, miximum and minimum for label “temperature"

In [6]:
mean = df['temperature'].mean()
max = df['temperature'].max()
min = df['temperature'].min()

print("Mean temperature:", mean)
print("Maximum temperature:", max)
print("Minimum temperature:", min)

Mean temperature: 30.333333333333332
Maximum temperature: 35
Minimum temperature: 24

**Question no 6:**
Import CSV ‘people.csv’ in the given folder. Keep in mind the following instructions:
- You’re required to import only specific columns ["First Name", "Sex", "Email", “Phone”, “Job Title”]
- Set the following columns ["Sex", "Job Title"] as index columns
- Skip following rows [1,5]
- Export the CSV as “NewPeople.csv

In [6]:

columns = ["First Name", "Sex", "Email", "Phone", "Job Title"]
skip_rows = [1, 5]

df = pd.read_csv("people.csv", usecols=columns, skiprows=skip_rows)

# Set index columns
index_columns = ["Sex", "Job Title"]
df.set_index(index_columns, inplace=True)

# Export the DataFrame to a new CSV file
df.to_csv("NewPeople.csv")

print("NewPeople.csv has been exported successfully.")

NewPeople.csv has been exported successfully.

**Question no 7:**
Import excel sheet ‘SampleWork.xlsx’ in the given folder. Keep in mind the following instructions:
- Import sheet 1
- Import only first and last column from sheet 1
- Skip row 2 while importing the sheet
- Set row 2 as header
- export as new sheet.

In [19]:

df = pd.read_excel("SampleWork.xlsx", sheet_name="Sheet1", usecols=[0,3], skiprows=[2], header=1)
print(df)
# Export the DataFrame to a new Excel file with a new sheet
df.to_excel("NewSampleWork.xlsx", index=False)

print("NewSampleWork.xlsx has been exported successfully.")

     Amir  95
0  Sufyan  85
1   Saiqa  80
2   Aimen  75
NewSampleWork.xlsx has been exported successfully.

**Question no 8:**
Create the following dataframe as AICP_DF then implement different operations as described below:
- select 'Name', 'Qualification' coloumns and save to df1
- add a new column to AICP_DF “Height” with the following values: [5.1, 6.2, 5.1, 5.2,5.1]
- set column “Name” as the index column.
- retrieve row with index “Hifza”
- retrieve row with index 3
- drop row with index “Bilal"

In [23]:
AICP_DF = {'Name': ['Sonia', 'Bilal', 'Hifza', 'Kabir', 'Jazim'],
        'Age': [27,24,22,32,23],
        'Address': ['Lahore','Karachi','Sialkot','Peshawar','lhr'],
        'Qualification': ['Msc', 'MA', 'MCA', 'Phd', 'Bsc'] }

df = pd.DataFrame(AICP_DF) 
df1 = df[['Name','Qualification']]
print(df1)

    Name Qualification
0  Sonia           Msc
1  Bilal            MA
2  Hifza           MCA
3  Kabir           Phd
4  Jazim           Bsc

In [24]:
df['Height'] = [5.1, 6.2, 5.1, 5.2,5.1]
df.set_index('Name', inplace= True)
df

       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.1
Bilal   24   Karachi            MA     6.2
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
Jazim   23       lhr           Bsc     5.1

In [26]:
df.loc['Hifza']

Age                   22
Address          Sialkot
Qualification        MCA
Height               5.1
Name: Hifza, dtype: object

In [27]:
df.iloc[3]

Age                    32
Address          Peshawar
Qualification         Phd
Height                5.2
Name: Kabir, dtype: object

In [29]:
df.drop('Bilal', axis=0, inplace=True)
df

       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.1
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
Jazim   23       lhr           Bsc     5.1